.App {
  text-align: center;
}

.App-logo {
  transition: 0.5s ease-in-out;
}

/* Add new classes for clockwise and counterclockwise rotation */
.clockwise {
  animation: App-logo-spin infinite 20s linear;
}

.counterclockwise {
  animation: App-logo-spin infinite 20s linear reverse;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
